
body {
    font-family: Consolas, monospace;
    background-color: #0f172a;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

header {
    background-color: #020617;
    text-align: center;
    padding: 25px;
    border-bottom: 1px solid #1e293b;
}

h1 {
    margin: 0;
    color: #38bdf8;
}

h2 {
    color: #7dd3fc;
}

section {
    background-color: #020617;
    margin: 20px;
    padding: 20px;
    border: 1px solid #1e293b;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #1e293b;
    padding: 10px;
}

th {
    background-color: #0f172a;
    color: #38bdf8;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    background-color: #0f172a;
    color: #e5e7eb;
    border: 1px solid #1e293b;
}

input[type="submit"] {
    background-color: #38bdf8;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #0ea5e9;
}
